<!DOCTYPE html>
<html>
<head>
    <meta charset="unicode">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="http://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script src="js/mui.min.js"></script>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">课程列表</h1>
</header>
<div class="mui-content">
	<p>课程列表:</p>
	{% for index in range(0,len(info)) %}
		<p><a href={{classurl[index]}}>{{info[index]}}</a></p>
	{% end %}
</div>
	
</body>
</html>